<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>因脉科技</title>
    <style type="text/css">
<!--
.STYLE1 {color: #FF0000}
-->
    </style>
</head>
<body>
<h4>{{com_info.com_name}}：</h4>
<!--<blockquote>-->
  <p style="font-size:12px">您好！首先感谢您选用<a href="http://www.imotation.com">北京因脉科技有限公司</a>的服务！ <br>
您的以下业务即将到期，现将清单提供给您，请您核对。为保证您的网站能够正常浏览，请您立即为其续费。 </p>
  <p style="font-size:12px">★ 购买产品及相关价格： </p>
  <table width="703" border="1">
    <tr>
      <th width="141" scope="col">产品名称</th>
      <th width="110" scope="col">域名</th>
      <th width="183" scope="col">价格（元/年）</th>
      <th width="241" scope="col">到期日期</th>
    </tr>
      {% for i in bus_info %}
    <tr>
      <td style="text-align:center;">{{ i.pro_name }}</td>
      <td style="text-align:center;">{{ i.identify }}</td>
      <td style="text-align:center;">
          {% for key,value in  pricedic.items %}

                {% if i.id == key  %}
                    {{ value }}
                {% endif %}
          {% endfor %}
      </td>
      <td style="text-align:center;">{{ i.exp_date }}</td>
    </tr>
      {% endfor %}
  </table>
  <p style="font-size:12px;color:red">再次感谢您对我公司的支持与厚爱，并希望您能及时对我们的工作提出宝贵的意见，以便改进我们的服务，同时为您提供更多的方便，并衷心地感谢您选择我公司长久地为您提供服务！ </p>
  <p style="font-size:12px">公司名称：北京因脉科技有限公司 <br>
    开户行：中国民生银行朝阳门支行 <br>
    地址：北京市朝阳区朝外大街乙6号D0622      <br>
    邮编：100020
    <br>
    电话：010-59009565<br>
    传真：010-59009565-8888<br>
    公司账号：0118014170009178<br>
    开户行：中国民生银行朝阳门支行 </p>
  <p style="font-size:12px">请将您的款项汇入以上账号，并把汇款底单发达给我们，收到底单后，两个工作日内办理好相关业务！ </p>
  <p style="font-size:12px">&nbsp;</p>
<!--</blockquote>-->
<p style="font-size:12px; color:red">此邮件为系统自动发送，为避免被识别为垃圾邮件请将发件人加入白名单！！  	</p>
</body>
</html>