<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <title>客户列表</title>
    <style>
        .tab{margin:auto;width:950px;text-align:center;margin-top:10px}
        .div1{height:40px;margin:auto;width:950px;margin-top:50px;}
       <!-- .kuan{float:right}-->

        li{list-style:none;float:left; }



    </style>
</head>
<body>

<form action="/xufei_search/" method="POST">
<div class="div1">
    <ul>
    <li class="home"><a href="{% url 'index' %}">首页</a></li>
    <li class="kuan"><input name="search_name" type="text" value="输入公司名称搜索..." onfocus="if(this.value=='输入公司名称搜索...')this.value='';" onblur="if(this.value=='')this.value='输入公司名称搜索...';"/>&nbsp;&nbsp;<input type="submit" value="搜索" id="search_id" /></li><!--搜索框-->
    </ul>
</div>
</form>
<div style="height:50px"></div>

<table class="table table-hover">
    <tr>
        <th>公司名称</th>
        <th>产品名称</th>
        <th>绑定域名</th>
        <th>到期日期</th>
        <th>所属部门</th>
        <th>操作</th>
    </tr>
    {% for i in bus_list %}
    <tr>
        <td>{{ i.com_name }}</td>
        <td>{{ i.pro_name }}</td>
        <td>{{ i.identify }}</td>
        <td>{{ i.exp_date }}</td>
        <td>
            {% for key,vaule in dep_list.items %}
                {% if i.id = key %}
                    {{ vaule }}
                {% endif %}
            {% endfor %}
        </td>
       <td>
            <form action="/update/" method="POST">
            <input type="hidden" name="buss_id" value="{{i.id}}" /><input type="submit" value="续费" /></form></td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
